<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Global log settings -->
	<targets>
		<!-- Write logs to a file -->
		<target name="file" xsi:type="File" fileName="logs/logfile.txt"
				layout="${longdate} | ${level} | ${message} ${exception}" />

		<!-- Write logs to console -->
		<target name="console" xsi:type="Console" layout="${longdate} | ${level} | ${message}" />
	</targets>

	<rules>
		<!-- Log all messages with Debug or higher severity -->
		<logger name="*" minlevel="Debug" writeTo="file,console" />
	</rules>
</nlog>
